In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

sns.set_theme()

In [2]:
# load data
df = pd.read_csv('../datasets/S&P 500 futures tick data (Finnhub)/SP.csv')
# df.columns = ['timestamp', 'bid', 'ask', 'volume']
# # parse timestamp
# df['timestamp'] = pd.to_datetime(df['timestamp'], format='%Y%m%d %H%M%S%f')

# # add features
# df['date'] = df['timestamp'].dt.date
# df['time'] = df['timestamp'].dt.time
# df['hour'] = df['timestamp'].dt.hour
# df['wday'] = df['timestamp'].dt.day_name()

# # spread
# df['spread'] = df['ask'] - df['bid']
# df['mid'] = (df['ask'] + df['bid']) / 2
# df['ret'] = np.log(df['mid']).diff()

# # drop first row since it has ret NaN
# df = df.dropna()

In [3]:
df

                date          time   price  volume
0         01/03/2000  08:30:34.000  1496.4       0
1         01/03/2000  08:30:36.000  1496.0       0
2         01/03/2000  08:30:37.000  1495.5       0
3         01/03/2000  08:30:46.000  1495.0       0
4         01/03/2000  08:30:53.000  1495.5       0
...              ...           ...     ...     ...
13802497  12/31/2019  15:00:02.086  3232.0       0
13802498  12/31/2019  15:00:09.277  3231.5       0
13802499  12/31/2019  15:00:14.203  3230.5       0
13802500  12/31/2019  15:01:09.088  3233.0       0
13802501  12/31/2019  15:03:41.206  3232.0       0

[13802502 rows x 4 columns]